.ui {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&__header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
	}

	&__left-panel {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}

	&__vector-control {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__catch-control {
		position: absolute;
		bottom: 12px;
		left: 12px;
	}
}
