.screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	&__content {
		width: 100%;
		height: 100%;
		padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
			env(safe-area-inset-left);
		box-sizing: border-box;
		overflow: hidden;
	}

	&__camera {
		transform-origin: 0 0;
		will-change: transform;
	}
}
